.hero {
  display: flex;
  flex-direction: column; 
  font-family: Arial, sans-serif;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hero_section {
  position: relative; 
  width: 100%; 
  height: 100vh; 
  overflow: hidden;
}

.background_video {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; 
}

.hero_content {
  position: relative;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; 
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #dc2f2f;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #35bcbf;
  margin-bottom: 30px;
  max-width: 60%;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #cbf078;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.popular_recipes {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    align-items: center;
    background-color: #9fd3c7;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.recipes_container{
    display: flex;
    gap: 20px;
}

.button:hover {
  background-color: #a4d65e;
  transform: scale(1.05);
}


.section_title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.section_subtitle {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 20px;
}

.see_all {
  font-size: 1rem;
  color: #cbf078;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 30px;
}

.search_by_filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  gap: 10px;
}

.food_categories img{
  object-fit: cover;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .reviews_cards_container {
    gap: 15px;
    padding: 0 10px;
  }

  .review_card {
    width: calc(100% - 40px); 
    max-width: none; 
  }

}