.pagination_controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.pagination_button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #cbf078;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination_button:hover {
    background-color: #a4d65e;
    transform: scale(1.05);
}

.pagination_button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.pagination_progress {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}