.tittle_categories{
    font-size: 1.2rem;
    font-weight: bold;
  }

  .food_categories_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .scroll_button {
    background-color: #cbf078;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    flex-shrink: 0; 
  }
  
  .scroll_button:hover {
    background-color: #b3e66d;
  }

  .food_categories_container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0; 
    scrollbar-width: none; 
    flex-grow: 1; 
  }
  
  .food_categories_container::-webkit-scrollbar {
    display: none; 
  }
  .food_categories {
    display: flex;
    align-items: center;
    background-color: #a2a8d3;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0; 
  }
  
  .food_categories:hover {
    background-color: #8c94c6;
  }
  
  .food_categories.active {
    background-color: #6c757d;
  }
  
  .food_categories img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .food_categories span {
    font-size: 0.9rem;
    color: #fff;
  }