.food{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    background-color: #bae8e8;
}

.back{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.back span{
    margin-bottom: 20px;
}

.back img{
    height: 20px;
    width: 20px;
}

.food_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 200px;
    min-height: 100vh;
    padding-top: 100px;
}

.image_container {
    position: relative; 
    width: 70%;
    max-width: 70%; 
  }
  
  .recipe_image {
    display: block; 
    width: 100%;
    height: 400px; 
    border-radius: 15px;
    object-fit:fill;
  }

  .labels_container {
    position: absolute; 
    bottom: 10px;
    right: 10px; 
    display: flex; 
    gap: 10px; 
    z-index: 1; 
  }
  
  .category_label {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 0.9rem;
    font-weight: bold; 
    text-transform: uppercase;
  }

  .area_label {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff; 
    padding: 5px 10px;
    border-radius: 5px; 
    font-size: 0.9rem; 
    font-weight: bold;
    text-transform: uppercase; 
  }

  .details {
    margin-top: 20px;
    max-width: 70%;
  }

  .recipe_title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: #f95959;
  }
  
  .recipe_id,
  .recipe_category{
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 10px;
  }
  
  .ingredients_list {
    margin-bottom: 20px;
    list-style: none;
  }

  .ingredients_list li {
    padding: 8px 20px;
    border-bottom: 1px solid black;
    font-size: 1rem;
    color: #333; 
  }
  
  .instructions {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .video_container {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  iframe {
    width: 100%;
    height: 315px;
    border: none;
  }

@media (max-width: 768px) {
  .food_container {
    padding-left: 20px;
    padding-top: 80px; 
  }

  .image_container {
    width: 100%; 
    max-width: 100%;
  }

  .recipe_image {
    height: auto;
  }

  .details {
    max-width: 100%;
  }

  .recipe_title {
    font-size: 2rem;
  }

  .ingredients_list li {
    font-size: 0.9rem;
  }

  .video_container {
    max-width: 100%; 
  }

  iframe {
    height: 200px
  }
}

@media (max-width: 1024px) {
  .food_container {
    padding-left: 50px; 
  }

  .image_container {
    width: 90%;
  }

  .recipe_title {
    font-size: 2.2rem; 
  }
}